@import "tailwindcss";
@import "tw-animate-css";

@keyframes blink {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

.animate-blink {
  animation: blink 1s infinite;
}

/* globals.css */
@keyframes borderBlink {
0% { box-shadow: 0 0 0 0 rgba(34,197,94,0.0); }
50% { box-shadow: 0 0 0 6px rgba(34,197,94,0.12); }
100% { box-shadow: 0 0 0 0 rgba(34,197,94,0.0); }
}
.btn-blink {
animation: borderBlink 1.8s infinite ease-in-out;
}


/* Ensure body doesn't create horizontal overflow */
html, body, #__next { overflow-x: hidden; }